<!-- -*- mode: XML -*- -->
<!-- run velodyne_pointcloud/CloudNodelet in a nodelet manager for a VLP-16 -->

<launch>
 
  <!--<include file="$(find pointgrey_camera_driver)/launch/camera.launch"/>-->
  <!--<node pkg="xsens_driver" name="mtnode2" type="mtnode.py" output="screen" />-->
  <include file="$(find xsens_driver)/launch/xsens_driver.launch" />

  <include file="$(find dbw_mkz_can)/launch/dbw.launch" />
  <include file="$(find dbw_mkz_description)/launch/rviz.launch" />
 <include file="$(find dbw_mkz_joystick_demo)/launch/joystick_demo.launch" />


  <!--
  <include file="$(find dbw_mkz_can)/launch/dbw.launch" />
  <include file="$(find dbw_mkz_description)/launch/rviz.launch" />
 <include file="$(find dbw_mkz_joystick_demo)/launch/joystick_demo.launch" />
-->








</launch>
